@font-face {
  font-family: "Equinox";
  src: url("../../assets/fonts/FontsFree-Net-EquinoxRegular.ttf");
   
 font-weight: bold;
}

.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Equinox";
  color: rgb(255, 255, 255);
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
  font-family: "Equinox";
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
  font-family: "Equinox";
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}